In [2]:
import pandas as pd
import numpy as np

In [3]:
# create sample dataset
new_sample=False
if new_sample:
    df = pd.read_csv('data-in/traffic-3xways', names=['Time', 'VID', 'Spd', 'XWay', 'Lane', 'Dir', 'Seg', 'Pos'])
    vids = df.VID.unique()
    df_sample = df[df.VID.isin(np.random.choice(vids, 100000))]
    df_sample = df_sample.sort_values(by=['Time'])
    df_sample.to_csv('data-in/traffic_sample_100kvids_new', index=False, header=False)
else:
    df_sample=pd.read_csv('data-in/traffic_sample_100kvids', names=['Time', 'VID', 'Spd', 'XWay', 'Lane', 'Dir', 'Seg', 'Pos'])

In [12]:
# examples of uncompleted segments
dfg = df_sample[(df_sample.Seg>=52) & (df_sample.Seg <= 56)].groupby(by='VID').agg({'Seg': ['min', 'max']})
# examples of typical uncompleted segments
mask=((dfg['Seg']['min']==52) & (dfg['Seg']['max']!=56))
dfg[mask].head(5)

     Seg
     min max
VID
230   52  52
698   52  54
1234  52  52
1514  52  55
1722  52  55

In [15]:
# more specific examples of uncompleted segments
mask=((dfg['Seg']['min']==56) | (dfg['Seg']['max']==52))
dfg[mask].head(5)

     Seg
     min max
VID
122   56  56
230   52  52
1234  52  52
1724  56  56
2242  56  56

In [19]:
# examples of cars with 2 trips of different direction within 52 and 56 segments
dfg = df_sample[(df_sample.Seg>=52) & (df_sample.Seg <= 56)].groupby(by='VID').agg({'Dir': ['min', 'max']})
mask=(dfg['Dir']['min']!=dfg['Dir']['max'])
dfg[mask].head(10)

      Dir
      min max
VID
1005    0   1
2284    0   1
3962    0   1
4488    0   1
5187    0   1
6411    0   1
8466    0   1
11104   0   1
14059   0   1
15762   0   1

In [23]:
vid=1005
# review all trips by vid
df_sample[(df_sample.VID==vid)]

         Time   VID  Spd  XWay  Lane  Dir  Seg    Pos
81         16  1005   10     1     0    0   29  46682
311        46  1005   40     1     0    0   29  47162
677        76  1005   40     1     0    0   29  47698
1202      106  1005   40     1     0    0   29  48235
1895      136  1005   58     1     2    0   30  49010
2737      166  1005   67     1     3    0   30  49868
3769      196  1005   60     1     1    0   31  50799
4992      226  1005   67     1     3    0   32  51680
6351      256  1005   73     1     3    0   32  52577
7924      286  1005   64     1     2    0   33  53476
9645      316  1005   77     1     1    0   33  54378
11503     346  1005   67     1     1    0   34  55285
13487     376  1005   79     1     1    0   34  56207
15743     406  1005   70     1     2    0   35  57171
18068     436  1005   73     1     3    0   36  58091
20570     466  1005   69     1     1    0   36  59025
23186     496  1005   66     1     3    0   37  59924
26017     526  1005   55     1     2    0   37  60812
28952     556  1005   68     1     1    0   38  61685
31984     586  1005   65     1     1    0   38  62578
35169     616  1005   75     1     1    0   39  63497
38591     646  1005   75     1     2    0   40  64420
42054     676  1005   62     1     2    0   40  65342
45656     706  1005   65     1     1    0   41  66254
49405     736  1005   63     1     3    0   41  67178
53243     766  1005   66     1     3    0   42  68041
57372     796  1005   68     1     1    0   42  68950
61524     826  1005   48     1     3    0   43  69681
65745     856  1005   48     1     2    0   43  70333
70277     886  1005   37     1     2    0   44  71000
...       ...   ...  ...   ...   ...  ...  ...    ...
3203402  6763  1005   43     2     1    1   50  80740
3226037  6793  1005   50     2     3    1   49  80115
3248863  6823  1005   37     2     1    1   49  79488
3271231  6853  1005   50     2     3    1   48  78869
3293621  6883  1005   45     2     3    1   48  78215
3316572  6913  1005   41     2     3    1   48  77567
3338805  6943  1005   50     2     2    1   47  76948
3362071  6973  1005   46     2     3    1   47  76303
3384273  7003  1005   47     2     3    1   47  75672
3407313  7033  1005   47     2     3    1   46  75003
3429796  7063  1005   48     2     1    1   46  74379
3451926  7093  1005   50     2     3    1   45  73722
3475066  7123  1005   58     2     1    1   45  73054
3497072  7153  1005   50     2     3    1   44  72410
3519890  7183  1005   43     2     2    1   44  71804
3542187  7213  1005   52     2     2    1   44  71169
3564730  7243  1005   46     2     2    1   43  70510
3587237  7273  1005   57     2     3    1   43  69894
3610074  7303  1005   46     2     2    1   43  69233
3632412  7333  1005   40     2     2    1   42  68628
3654619  7363  1005   52     2     2    1   42  67985
3677576  7393  1005   50     2     2    1   41  67347
3699554  7423  1005   46     2     1    1   41  66717
3721959  7453  1005   47     2     3    1   41  66051
3744811  7483  1005   49     2     1    1   40  65401
3767466  7513  1005   49     2     1    1   40  64742
3789577  7543  1005   46     2     1    1   39  64104
3812362  7573  1005   43     2     3    1   39  63416
3834785  7603  1005   51     2     2    1   39  62825
3856967  7633  1005   10     2     4    1   38  62643

[218 rows x 8 columns]

In [22]:
# review all trips withi 52-56 by VID
df_sample[(df_sample.VID==1005) & (df_sample.Seg>=52) & (df_sample.Seg <= 56)]

         Time   VID  Spd  XWay  Lane  Dir  Seg    Pos
192180   1486  1005   50     1     2    0   52  83993
199948   1516  1005   52     1     2    0   52  84637
207745   1546  1005   39     1     1    0   52  85279
215796   1576  1005   59     1     2    0   53  85885
223793   1606  1005   51     1     2    0   53  86534
232257   1636  1005   43     1     3    0   54  87168
240722   1666  1005   53     1     3    0   54  87791
249094   1696  1005   46     1     2    0   54  88390
257874   1726  1005   49     1     3    0   55  89037
266728   1756  1005   56     1     3    0   55  89654
275524   1786  1005   43     1     3    0   56  90285
284834   1816  1005   41     1     3    0   56  90901
294006   1846  1005   45     1     1    0   56  91528
2823869  6253  1005   58     2     1    1   56  91750
2846317  6283  1005   50     2     3    1   56  91077
2868406  6313  1005   48     2     1    1   56  90442
2890448  6343  1005   45     2     3    1   55  89791
2913121  6373  1005   44     2     1    1   55  89156
2935267  6403  1005   51     2     3    1   54  88535
2957193  6433  1005   43     2     2    1   54  87906
2979502  6463  1005   50     2     3    1   54  87293
3001560  6493  1005   47     2     2    1   53  86642
3023850  6523  1005   51     2     1    1   53  85999
3046581  6553  1005   46     2     3    1   53  85339
3068416  6583  1005   48     2     2    1   52  84689
3091118  6613  1005   49     2     2    1   52  84049

In [26]:
# test exercise 2
ex2_result = pd.read_csv('data-out/avgspeedfines.csv', names=['Time1', 'Time2', 'VID', 'XWay', 'Dir', 'avgspeed'])
ex2_result.head(15)

    Time1  Time2    VID  XWay    Dir   avgspeed
0     181    391     58     0  False  68.631336
1     154    394    278     1  False  68.179954
2     129    399   2284     0  False  65.194265
3     166    406   4440     0  False  66.660702
4     199    409   1160     2  False  68.471555
5     196    436   6175     2  False  67.592758
6     202    442   6491     2  False  66.958960
7     210    450   3489     1  False  68.282480
8     228    468   4544     0  False  67.201294
9     230    470   1240     2  False  69.503475
10    217    487   7420     0  False  65.509094
11    254    494   9587     0  False  68.636662
12    265    505   3212     0  False  67.574117
13    265    505   6713     0  False  68.515495
14    300    510  10601     1  False  68.780465